.card {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    border: 2px solid white;
    background-color: transparent; /* Ensure the button is transparent */
    cursor: pointer;
    overflow: hidden; /* Prevent the image from spilling out */
    min-height: 200px;<button class="card">flex
    min-width: 100px;
}

.card img {
    width: 80%;
    height: auto;
    display: block; /* Make the image fully responsive within the button */
    object-fit: cover; /* Ensure the image covers the button area without distortion */
}

.card:hover {
    border-color: #646cff;
}